:root {
  main {
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 16px;

    width: 90%;
    padding-top: 1rem;
    margin: auto;
  }

  ul {
    .card {
      position: relative;

      width: 65vw;
      height: 40vh;

      margin: 1rem auto;

      background-color: $accent2;
      border-radius: 1rem;

      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 1rem;
      }

      h2 {
        position: absolute;
        font-size: 1.5rem;
        width: 100%;
        text-align: center;
        padding-top: 1rem;
      }

      a {
        color: white;
      }
    }
  }

  #buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2rem;

    max-width: 50%;
    margin: auto;

    button {
      margin: 1rem;
      background: none;
      border: none;
      font-family: "Noto";
      text-decoration: underline;
    }
  }
}

@media (min-width: 769px) {
  :root {
    main {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: auto 1fr;
      max-height: 90vh;
      gap: 16px;
    }

    ul {
      grid-column: span 4 / span 4;
      grid-row: span 4 / span 4;
      grid-row-start: 2;

      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-auto-rows: 1fr;
      gap: 16px;
      padding: 16px;
      width: 100%;
      height: 100%;
      box-sizing: border-box;

      .card {
        width: 100%;
        height: 100%;
        margin: 0;
        min-height: 15rem;
      }
    }
  }
}
