<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /DummyMarketplace/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /DummyMarketplace/index.html [L]
</IfModule>