@import "../abstracts/_colors.scss";

:root[data-theme="dark"] {
  background-color: $bg_dark;
  color: white;

  .section {
    background-color: $section_dark;
  }

  button,
  #clear {
    color: white;
  }
}
