@import "../abstracts/_colors.scss";

:root[data-theme="dark"] {
  background-color: $bg_dark;
  color: white;

  .section {
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px rgba(255, 255, 255, 0.05);
  }

  button,
  #clear {
    color: white;
  }
}
