aside {
  border-radius: 2rem;
  padding: 1rem;

  #clear {
    border: none;
    padding: 0.4rem 1rem;
    background-color: $accent2;
    color: white;
    border-radius: 2rem;
    font-size: 1rem;
    font-family: "Coolvetica", sans-serif;
    cursor: pointer;

    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.2);
  }

  form {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    align-items: center;

    legend {
      font-size: 2rem;
      font-family: "Coolvetica";
    }

    div {
      text-wrap: nowrap;
      padding-left: 1rem;

      margin: 1rem auto;

      input {
        display: none;
      }

      label {
        background: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        border: 2px solid rgba(255, 255, 255, 0.3);

        border-radius: 2rem;
        padding: 0.4rem 1rem;
        transition: background 0.3s, color 0.3s;
        font-size: 1.1rem;
        text-align: center;
        cursor: pointer;
      }

      input:checked + label {
        background: $accent2;
        color: white;
      }
    }
  }
}

@media (min-width: 769px) {
  aside {
    grid-row: span 4 / span 4;
    grid-column-start: 5;
    grid-row-start: 2;

    form {
      flex-direction: column;
      width: 100%;
      max-height: 100%;
      overflow-y: scroll;

      div {
        width: 90%;

        label {
          font-size: 2rem;
        }
      }
    }
  }
}
