@font-face {
  font-family: "Noto";
  src: url("/fonts/NotoSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Coolvetica";
  src: url("/fonts/Coolvetica.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root main {
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 16px;
  width: 90%;
  padding-top: 1rem;
  margin: auto;
}
:root ul .card {
  position: relative;
  width: 65vw;
  height: 40vh;
  margin: 1rem auto;
  background-color: #FF9B85;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
:root ul .card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 1rem;
}
:root ul .card h2 {
  position: absolute;
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  padding-top: 1rem;
}
:root ul .card a {
  color: white;
}
:root #buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  max-width: 50%;
  margin: auto;
}
:root #buttons button {
  margin: 1rem;
  background: none;
  border: none;
  font-family: "Noto";
  text-decoration: underline;
}

@media (min-width: 769px) {
  :root main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto 1fr;
    max-height: 90vh;
    gap: 16px;
  }
  :root ul {
    grid-column: span 4/span 4;
    grid-row: span 4/span 4;
    grid-row-start: 2;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 1fr;
    gap: 16px;
    padding: 16px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  :root ul .card {
    width: 100%;
    height: 100%;
    margin: 0;
    min-height: 15rem;
  }
}
:root {
  padding-top: 1rem;
}
:root #details {
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 16px;
  padding: 1rem 0 1rem 0;
  max-width: 90%;
  margin: auto;
}
:root h1 {
  font-family: "Coolvetica";
  text-align: center;
  font-size: 3rem;
}
:root #carousel {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
  aspect-ratio: 16/9; /* Maintain aspect ratio */
  max-height: 60vh; /* Slightly larger max height */
}
:root .img-carousel {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  border-radius: 16px;
}
:root .button-carousel {
  background: none;
  border: none;
  font-size: 3rem;
  position: absolute;
  top: 45%;
  z-index: 99;
}
:root .button-carousel:nth-of-type(1) {
  left: 5%;
}
:root .button-carousel:nth-of-type(2) {
  right: 5%;
}
:root #infos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem;
  font-size: 1.5rem;
}
:root #infos ul {
  all: unset;
  list-style: none;
}
:root #infos ul li {
  background: #FF9B85;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 1rem;
  text-align: center;
}
:root #infos div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
:root p {
  margin: auto;
  font-size: 1.5rem;
  padding: 1rem;
}
:root aside {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  overflow-y: hidden;
}
:root aside img {
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
}

@media (min-width: 769px) {
  :root #details {
    display: grid;
    grid-template-columns: 2fr minmax(300px, 1fr) minmax(250px, 1fr);
    grid-template-rows: auto auto auto;
    gap: 16px;
  }
  :root #details h1 {
    text-align: center;
    font-size: 3rem;
    grid-column: 1/-1;
  }
  :root #details #carousel {
    grid-column: 1/-1;
    grid-row: 2/3;
    max-height: 70vh;
  }
  :root #details #carousel .img-carousel {
    height: -moz-fit-content;
    height: fit-content;
    -o-object-fit: cover;
       object-fit: cover;
  }
  :root #details #infos {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  :root #details p {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  :root #details aside {
    grid-column: 3/4;
    grid-row: 3/4;
    text-align: center;
  }
}
aside {
  border-radius: 2rem;
}
aside #clear {
  border: none;
  padding: 0.4rem 1rem;
  background-color: #FF9B85;
  color: white;
  border-radius: 2rem;
  font-size: 1rem;
  font-family: "Coolvetica", sans-serif;
  cursor: pointer;
}
aside form {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  align-items: center;
  padding: 1rem;
}
aside form legend {
  font-size: 2rem;
  font-family: "Coolvetica";
}
aside form div {
  text-wrap: nowrap;
  padding-left: 1rem;
}
aside form div input {
  display: none;
}
aside form div label {
  border: 2px solid #FF9B85;
  border-radius: 2rem;
  padding: 0.4rem 1rem;
  transition: background 0.3s, color 0.3s;
  font-size: 1.1rem;
  text-align: center;
  cursor: pointer;
}
aside form div input:checked + label {
  background: #FF9B85;
  color: white;
}

@media (min-width: 769px) {
  aside {
    grid-row: span 4/span 4;
    grid-column-start: 5;
    grid-row-start: 2;
  }
  aside form {
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1rem;
    align-items: start;
  }
  aside form legend {
    grid-column: 1/-1;
    margin-bottom: 1rem;
    margin: auto;
  }
  aside form div {
    padding: 0;
  }
  aside form div label {
    display: block;
    text-align: center;
    width: 90%;
  }
  aside form #clear {
    grid-column: 1/-1;
    justify-self: start;
  }
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  grid-column: 1/-1;
  grid-row: 1;
  max-width: 90%;
  margin: auto;
}
header img {
  max-width: 10vw;
}
header input {
  all: unset;
  background-color: #C7CBD4;
  border-radius: 3rem;
  padding: 1rem;
  opacity: 0;
  transform: translateX(-40px);
  pointer-events: none;
  transition: opacity 0.4s, transform 0.4s;
}
header input.show {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}
header button {
  all: unset;
}
header button:nth-of-type(1) {
  width: 3rem;
}
header button:nth-of-type(2) {
  background-color: #7D5BA6;
}
header button:nth-of-type(2) img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 1rem;
}
header .circle {
  border-radius: 50%;
}

@media (min-width: 769px) {
  header {
    grid-column: span 5/span 5;
  }
  input,
  input.show {
    opacity: 1;
    transform: none;
    pointer-events: auto;
    transition: none;
    min-width: 70%;
  }
  button:nth-of-type(2) {
    background-color: #7D5BA6;
    max-width: 5rem;
  }
}
footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}
footer img {
  height: 4rem;
  margin: 1rem;
}
footer p {
  text-align: center;
}

/* HTML: <div class="loader"></div> */
.loader-container {
  width: 100vw;
  height: 100vh;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader-container .loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #514b82;
  -webkit-mask: radial-gradient(circle closest-side at 50% 40%, rgba(0, 0, 0, 0) 94%, #000);
  transform-origin: 50% 40%;
  animation: l25 1s infinite linear;
}
@keyframes l25 {
  100% {
    transform: rotate(1turn);
  }
}

:root {
  background-color: #F8F4FF;
}
:root .section {
  background-color: #E5E7EB;
}

:root[data-theme=dark] {
  background-color: #121218;
  color: white;
}
:root[data-theme=dark] .section {
  background-color: #4C5058;
}
:root[data-theme=dark] button,
:root[data-theme=dark] #clear {
  color: white;
}

html {
  font-size: 62.5%;
  font-family: "Noto";
  scroll-behavior: smooth;
}

:root,
:root[data-theme=dark] {
  transition: background-color 0.4s, color 0.4s;
}

.section {
  transition: background-color 0.4s, color 0.4s;
  border-radius: 2rem;
}/*# sourceMappingURL=style.css.map */